{% extends 'base.html' %}
{% block content %}

<div class="container">
<h4>Welcome to the book review website</h4>
<br>
    <h5>Sign in to add or edit your reviews</h5>
    <form class="col s12" action="{{ url_for('get_reviews') }}" methods="POST">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email" required>
                <label for="email">Email</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
    </form>
    <br><br>
    <div>
        <h5>Join the bookclub</h5>
        <a href="{{ url_for('add_user') }}" class="waves-effect waves-light btn">Sign Up</a>
    </div>
    <br>
</div>

{% endblock %}