{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m8">
            <h4>Search results</h4>
        </div>
{% for review in reviews %}
        <div class="col s12 m8">
            <div class="card horizontal card-small">
                <div class="card-image">
                    <img class="review-image" src="{{ review.cover }}" alt="Cover image">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>{{ review.title }}</h5>
                        <p><strong>Author: </strong>{{ review.author }}</p>
                        <p><strong>Reviewed by: </strong>{{ review.username }}</p>
                        <p><strong>Category: </strong>{{ review.category }}</p>
                        <p><strong>Rating: </strong>{{ review.rating }}</p>
                        <p>{{ review.review }}</p>
                    </div>
                    <div class="card-action">
                     <a href="#" class="waves-effect waves-light btn btn_small">Buy</a>
                </div>
                </div>
                
            </div>
        </div>
  {% endfor %}
    </div>
</div>

{% endblock %}